@{
    ViewBag.Title = "联系我们";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p {
        text-indent: 2em;
    }
</style>

<div class="wrap">
    <div class="service-content">
        <h3>联系我们</h3>
        <ul>
            <li>
                <p>
                    公司名称：郑州朔日科技有限公司
                </p>
                <p>
                    地址：郑州市航海中路鼎盛时代A座616室
                </p>
                <p>
                    联系电话：18937137072、18937137072
                </p>
                <p>
                    邮箱：zz_support@sower.com.cn 
                </p>
            </li>
        </ul>
    </div>
    <div class="clear">

    </div>
</div>
