@{
    ViewBag.Title = "公司简介";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p {
        text-indent: 2em;
    }
</style>
<div class="wrap">
    <div class="service-content">
        <h3>公司简介</h3>
        <ul>
            <li>
                <p>
                    北京朔日科技有限公司位于北京市新技术产业开发实验区，是集计算机软件研制、开发、生产、服务为一体的高新技术企业。
                </p>
                <p>
                    公司自1999年成立之日起，本着勇于探索，不断创新的宗旨，始终致力于高技术计算机软件的研制与开发。经过公司全体员工的不懈努力，我们已经在计算机智能化教育教学、计算机智能化测评、计算机信息管理、计算机网络与通讯等领域取得了良好的成绩。
                </p>
                <p>
                    为配合国家的“国家中长期教育改革和发展规划纲要（2010-2020）”中，关于“加快教育信息化进程”的战略，公司提出了“立足考试改革，推动教学改革”的方案，以推动传统教育改革及教育信息化建设进程，并得到了业界、用户的普遍认可。十余年来，朔日科技立足于成熟的教育测量平台及技术，不断革新产品技术及应用方向，取得了良好的效果。
                </p>
                <p>
                    公司拥有一支勤奋、敬业、朝气蓬勃的高学历科技开发队伍，在此基础上还聘请了诸多教育界专家、学者参与教育信息化的研究工作；在泛学科智能测评、计算机辅助教学（E-Learning CAI）、各行业资格（技能）评定测评系统、校园信息管理系统等方面，均取得了大量的成果。
                </p>
                <p>
                    作为国内技术领先的教育产品服务商，公司被教育部、财政部、工信部等多部委指定为考试运营管理机构，全面负责相关考试项目的组织实施工作。同时，在面向中央广播电视大学、清华大学、北京大学、湖南大学、广西大学、重庆大学、西南大学等百余所院校及教育机构提供产品及服务的基础上，公司还同微软（中国）、用友集团等IT厂商开展了广泛的厂商认证合作，均取得了良好的效果。
                </p>
                <p>
                    教育事业，任重而道远，朔日科技竭诚欢迎广大有识之士对朔日的产品服务提出宝贵意见，并以我们不断的努力为实现中国教育信息化奉献最大力量。
                </p>
                <p>
                    Sower，播种今日，收获未来。
                </p>
            </li>
        </ul>
    </div>
    <div class="clear">

    </div>
</div>
