
@{
    Layout = null;
}

@using (Ajax.BeginForm("LoginTop", "Login", null,
            new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "ajaxlogin",
                LoadingElementId = "ajax-loader",
                HttpMethod = "Get"
            }))
            
            
{
    <ul>
        <li class="login"><a href="@Url.Action("Login","Account")">登录</a></li>
        <li class="sign"><a href="@Url.Action("Register", "Account")">注册</a></li>
    </ul>
}
